@charset "ISO-8859-1";

.main{
	display:flex;
	justify-content:space-between;
	align-items:center;

}
.img_p{
	width:50%;
	justify-content:left;
}
.img{
	width:50%;
	height:auto;
	justify-content:left;
}
.info{
	width:50%;
	justify-content:left;
}
h1{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 98.19%;
	/* or 49px */
	color: #000000;
}